* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5EEDF;
  color: #1F1F1F;
  line-height: 1.6;
}


.header {
  border-top: 15px solid black;
  background-color: #800080; 
  color: #ffffff;
  text-align: center;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-image: url("becoming-doctor.jpg");
  background-size: cover;       
  background-position: center;   
  height: 420px;                
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.header h1 {
  color: white;
  font-size: 50px;
 
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px 6px black

}


.twan {
  background-color: #333333; 
  padding: 15px;
  text-align: center;
}

.twan a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.twan a:hover {
  color: #a45bb3; 
  box-shadow: #E5E7EB;
}



main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #E5E7EB; 
  border-radius: 8px;
  box-shadow: 2px 10px rgba(0, 0, 0, 0.1);
}

main section {
  margin-bottom: 30px;
}

main h2 {
  color: #800080;
  margin-bottom: 15px;
  font-size: 1.8em;
}


footer {
  background-color: #333333; 
  color: #ffffff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

footer img {
  width: 100%;
  display: block;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .twan a {
      display: block;
      margin: 10px;
  }

  .header h1 {
      font-size: 2em;
  }

  main {
      padding: 15px;
  }
}
